* {
    margin: 0;
    padding: 0;
    transition-duration: 200ms;
    border: 1px solid white;
}

.bold {
    font-weight: 1000;
}

body {
    background-image: url(https://wallpaperaccess.com/full/1145359.png);
}

#header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 4.5vw;
    margin: 10px auto 10px auto;
    letter-spacing: 2px;
    color: white;
}
#header h1 {
    text-decoration: overline underline;
}

#header h2 { 
    text-decoration: underline;
}

.back {
    display: flex;
    width: 400px;
    height: 600px;  
    margin: 40px auto 40px auto;
}